version: 2

jobs:
  build:
    docker:
      - image: circleci/python:3.7
    steps:
      - checkout
      - restore_cache:
          key: deps1-{{ .Branch }}-{{ checksum "requirements.txt" }}
      - run:
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt
      - save_cache:
          key: deps1-{{ .Branch }}-{{ checksum "requirements.txt" }}
          paths:
            - "venv"
      - run:
          name: Running tests
          command: |
            . venv/bin/activate
            make test
      - store_artifacts:
          path: test-reports/
          destination: .

  graphql-inspector:
    docker:
      - image: kamilkisiela/graphql-inspector
    steps:
      - checkout
      - run:
          name: GraphQL Inspector
          command: |
              yarn global add @graphql-inspector/config@2.3.0
              yarn global add @graphql-tools/utils@^7.0.0
              yarn global add @graphql-inspector/loaders@3.0.2
              yarn global add yargs@17.2.1
              yarn global add @graphql-inspector/diff-command
              yarn global add @graphql-inspector/graphql-loader @graphql-inspector/git-loader
              graphql-inspector diff "git:origin/master:./myschema.graphql" "myschema.graphql"

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - graphql-inspector
