name: graphql-inspector-ci-actions

on:
  pull_request:
    types: [closed]
    paths:
      - 'myschema.graphql'

jobs:
  notify-schema-changes:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v2
        with:
          node-version: '12'
          cache: 'npm'

      - name: Install dependencies
        run: |
            npm install graphql@^15.0.0
            npm install @graphql-tools/load@^7.5.1
            npm install @graphql-tools/graphql-file-loader@^7.3.3
            npm install @graphql-tools/git-loader@7.1.2
            npm install @graphql-inspector/core@3.0.2

      - name: GraphQL Inspector
        env:
          WEBHOOK: ${{ secrets.TEST_NON_SECRET }}
          NOTIFY_SCHEMA_OLDSCHEMA: 'myschema.graphql'
          NOTIFY_SCHEMA_NEWSCHEMA: git:origin/${{ github.ref_name }}:./myschema.graphql
          NOTIFY_SCHEMA_REPO_URL: 'https://github.com/ariunbayar/hello-graphql-inspector-action/'
          NOTIFY_SCHEMA_MAIN_BRANCH: 'origin/master'
          conf1: ${{ github.base_ref }}
          conf2: ${{ github.head_ref }}
          conf3: ${{ github.ref }}
          conf4: ${{ github.ref_name }}
          conf5: ${{ github.ref_protected }}
          conf6: ${{ github.ref_type }}
        run: |
          node notify_schema_changes_to_slack.js
